 Telegram Bot Token (получите у @BotFather)
TELEGRAM_TOKEN=8363276228:AAGtK9iWOugMCgqwRpbzHf43eyXBdwqputM

# Chat ID куда будут отправляться сигналы (ваш Telegram ID или ID группы)
TARGET_CHAT_ID=6590452577

